.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.posts-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; /* This allows posts to wrap to the next line if there isn't enough space */
  gap: 20px; /* Adjust the gap between posts as needed */
}

.post-container {
  flex: 1; 
  border: 1px solid black;
  background-color: beige;
  max-width: 300px; /* You can adjust the maximum width of each post container */
}
